{% extends "./layout.html" %}
{% block contents %}
<div class="container">
 <div class="mt-5 contents-wrap">
  <h3 class="nav-loc">
   나만의 기사를 작성해보세요.
  </h3>

  <div class="container">
   <div class="contents">
    <form action="{% url "main_page:create" %}" method="POST">
     {% csrf_token %}
        <div class="main_page-news_type p-3 mb-3">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value='정치' name="news_type">
              <label class="form-check-label" for="inlineCheckbox1">&nbsp;정치&nbsp;</label>

              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value='경제' name="news_type">
              <label class="form-check-label" for="inlineCheckbox2">&nbsp;경제&nbsp;</label>

              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value='IT/과학' name="news_type">
              <label class="form-check-label" for="inlineCheckbox3">&nbsp;IT/과학&nbsp;</label>

              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value='연예' name="news_type">
              <label class="form-check-label" for="inlineCheckbox1">&nbsp;TV연예&nbsp;</label>

              <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value='스포츠' name="news_type">
              <label class="form-check-label" for="inlineCheckbox2">&nbsp;스포츠&nbsp;</label>

              <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value='기타' name="news_type">
              <label class="form-check-label" for="inlineCheckbox3">&nbsp;기타&nbsp;</label>
        </div>
        <div class="main_page-news_title p-3 mb-3">
            <label for="news_title-input" class="form-label">기사 제목</label>
                <input type="text" name="news_title" class="form-control" id="news_title-input" placeholder="글 제목을 입력해주세요.">
                    <div id="news_title-help" class="form-text">자유롭게 작성하시면 됩니다.</div>
        </div>
        <div class="main_page-news_img p-3 mb-3">
            <label for="news_img-input" class="form-label">기사 사진</label>
            <textarea class="form-control" name="news_img" id="news_img-input" rows="3"></textarea>
            <div id="news_img-help" class="form-text">img의 주소를 넣어주세요.</div>
        </div>
        <div class="main_page-news_content p-3 mb-3">
            <label for="news_content-input" class="form-label">기사 내용</label>
            <textarea class="form-control" name="news_content" id="news_content-input" rows="10"></textarea>
            <div id="news_content-help" class="form-text">내용은 제목에 따라 자유롭게 작성해주세요.</div>
        </div>
        <div class="mb-3 p-3">
            <div style="float:right">
            <button type="submit" class="btn btn-dark">작성</button>
            <a class="btn btn-dark" href="{% url 'main_page:index' %}" role="button">목록으로</a>
            </div>
        </div>
    </form>
   </div>
 </div>
</div>
{% endblock %}